.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Ignore generated HTML Tutorials
*.html

# Ignore cached figures in HTML generation from .Rmd
**/*_files/figure-html

# Ignore byproduct of a Published Shiny App
**/rsconnect/


rtutorials.Rcheck/
rtutorials*.tar.gz
rtutorials*.tgz
